main ul {
    list-style: square;
    color: #4e1ed4;
}

main ul li {
    margin-bottom: 1em;
}

main ul li a {
    font-size: 18px;
}

main ul li a:hover{
    background-color: #4e1ed4;
    color: #f7e0fa;
}